$first-color: #9356dc;
$second-color: #ff79d9;
$third-color: #99e2d0;

$font-color-1: #fff;
$font-color-2: #000;
$font-color-3: #008766;

$background-alt-1: #fff;
$background-alt-2: #000;
$background-alt-3: #f6f6f6;
$background-alt-4: #cfcfcf;
$background-alt-5: #eaeaea;
$background-alt-6: #99e2d0;
